    * {
    margin: 0;
    padding: 0;
    }



    /* Navigation bar */



    nav {
    display: flex;
    padding-left: 3%;
    padding-right: 3%;
    justify-content:space-between;
    align-items: center;
    overflow: hidden;
    background: #4B4B4B 0% 0% no-repeat padding-box;
    opacity: 1;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    }

    nav img { 
    width: 42px;
    height: 48px;

    }

    .nav-links { 
    flex:1;
    padding: auto;
    text-align: left;
    } 

    .nav-links ul {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    }

    .nav-links ul li{ 
    list-style: none;
    display: inline-block;
    padding: 8px 30px;
    position: relative;
    }

    .nav-links ul li a:hover{
    color: #a29574;
    }

    .nav-links ul li a {
    font-family: 'lato',sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 1.5px;
    color: #AFA17E;
    text-decoration: none;
    }

    .hero-btn {
    font-family: 'lato', sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.9px;
    border: none;
    color: #000000;
    padding: 6px 32px;
    text-decoration: none;
    font-size: 15px;
    margin: 15px 2px;
    cursor: pointer;
    background-color: #B0A17C;
    border-radius: 50px;
    display: inline-block;
    position: relative;
    
    }

    .hero-btn:hover {
    background-color: #a29574;
    }

    .hero-btn:active {
    transform: scale(0.95);
    }



    /* Text box */



    .text-box{
    background-image: linear-gradient(rgba(4,9,30,0.5), rgba(4,9,30,0.5)),url(/images/bg-image.jpg); 
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 91.4vh;
    width: 100%;
    opacity: 0.9;
    }

    .text-box h1 {
    font-family: 'bennet-banner', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    color: #FFFFFF;
    }

    .text-box h2{
    font-family: 'lato', sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 1.4px;
    font-size: 14px;
    color:#FFFFFF; 
    transform: uppercase;
    }

    .text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    }



    /* Login CSS */ 




        .background-popup {
        background: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        position: absolute;
        display: none;
        top: 0;
        }
        
        .popup {
        position: absolute;
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%);
        opacity: 1;
        width: 341px;
        height: 250px;
        padding: 0px 30px 30px 30px;
        background: rgb(244, 247, 247);
        /*box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);*/
        border-radius: 8px;
        box-sizing: border-box;
        }
        
        .popup .close-btn {
        display: flex;
        justify-content: right;
        cursor: pointer;
        padding-top: 25px;
        box-sizing: border-box;
        }
        
        .popup .form .form-element h2 {
        font-size: 20px;
        font-family: 'lato', sans-serif;
        font-weight: 500;
        font-style: normal;
        box-sizing: border-box;
        }
        
        .popup .form .form-element p {
        font-size: 15px;
        font-family: 'lato', sans-serif;
        font-weight: 300;
        font-style: normal;
        box-sizing: border-box;
        }
        
        .popup .form .form-underscore p {
        text-align: center;
        font-size: 9px;
        font-family: 'lato', sans-serif;
        font-weight: 300;
        font-style: normal;
        color:black;
        opacity: 0.59;
        box-sizing: border-box;
        }
        
        .popup .form .form-underscore a {
        color: black;
        box-sizing: border-box;
        }
        
        .popup .form .form-element {
        padding: 0px 15px 15px 15px;
        box-sizing: border-box;
        }
        
        .popup .form .form-element input[type="text"], 
        .popup .form .form-element button
        {
        width: 100%;
        display: block;
        padding: 10px;
        outline: none;
        border: none;
        border-radius: 5px;
        box-sizing: border-box;
        }
        
        .popup .form .form-element button {
        background-color: #AFA17E;
        color: white;
        cursor: pointer;
        font-family: 'lato', sans-serif;
        font-weight: 300;
        font-style: normal;
        box-sizing: border-box;
        }

        .popup .form .form-element button:hover {
        background-color: #a29574;
        }

        .popup .form .form-element button:active {
        transform: scale(0.95);
        }
