    * {
    margin: 0;
    padding: 0;
    }

    .text-box{
    background-image: linear-gradient(rgba(4,9,30,0.5), rgba(4,9,30,0.5)),url(/images/bg-image.jpg); 
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 91.4vh;
    width: 100%;
    opacity: 0.9;
    }

    nav {
    display: flex;
    padding-left: 3%;
    padding-right: 3%;
    justify-content:space-between;
    align-items: center;
    overflow: hidden;
    background: #4B4B4B 0% 0% no-repeat padding-box;
    opacity: 1;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    }

    nav img { 
    width: 42px;
    height: 48px;

    }

    .nav-links { 
    flex:1;
    padding: auto;
    text-align: left;
    } 

    .nav-links ul {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    }

    .nav-links ul li{ 
    list-style: none;
    display: inline-block;
    padding: 8px 30px;
    position: relative;
    }

    .nav-links ul li a:hover{
    color: #a29574;
    }

    .nav-links ul li a {
    font-family: 'lato',sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 1.5px;
    color: #AFA17E;
    text-decoration: none;
    }

    .hero-btn {
    font-family: 'lato', sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.9px;
    border: none;
    color: #000000;
    padding: 6px 32px;
    text-decoration: none;
    font-size: 15px;
    margin: 15px 2px;
    cursor: pointer;
    background-color: #B0A17C;
    border-radius: 50px;
    display: inline-block;
    position: relative;
    
    }

    .hero-btn:hover {
    background-color: #a29574;
    }

    .text-box h1 {
    font-family: 'bennet-banner', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    color: #FFFFFF;
    }

    .text-box h2{
    font-family: 'lato', sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 1.4px;
    font-size: 14px;
    color:#FFFFFF; 
    transform: uppercase;
    }

    .text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    }
